# -----------------------------------------------------
# Python
# -----------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
build/
develop-eggs/
dist/
pip-wheel-metadata/
.pytest_cache/
*.spec

# -----------------------------------------------------
# Virtual environment
# -----------------------------------------------------
venv/
ENV/
env/
.venv/

# -----------------------------------------------------
# IDE / Editor files
# -----------------------------------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# -----------------------------------------------------
# System files
# -----------------------------------------------------
.DS_Store
Thumbs.db

# -----------------------------------------------------
# Logs and temporary files
# -----------------------------------------------------
*.log
*.tmp
*.bak
temp/
temp/**

# -----------------------------------------------------
# Environment & configuration
# -----------------------------------------------------
.env
.env.*
!*.example 